<section class="wellcome_area aboutbg clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">

                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_padding_50 bg-white" id="aboutcompany" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>About Cloudsource</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <!-- ***** Mission Vision Area Start *****-->
        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-6">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; background-color: #f5edf3;">
                    <div class="single-icon">
                        <i class="fa fa-2x" aria-hidden="true" style="color: #ca301dfc;">Mission</i>
                    </div>

                    <p>Life is Good: "To spread the power of optimism"</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-6">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; background-color: #f5edf3;">
                    <div class="single-icon">
                        <i class="fa fa-2x" aria-hidden="true" style="color: #ca301dfc;">Vision</i>
                    </div>

                    <p>Life is Good: "To spread the power of optimism"</p>
                </div>
            </div>
          </div>
          <!-- ***** Mission Vision Area End *****-->

        <div class="row mt-50">
          <div class="col-12 col-md-8">
            <div class="special_description_content wow slideInLeft">
              <h3>Greeting</h3>
              <p> It is a company name that contains an image that ideas and values ​​come out from the source (Cloud) side of the cloud (Source).
                  In promoting the crowdsourcing business, we used
                  Cloud as a company name to use the word sense in katakana (also called crowd sourcing) and cloud technology.
                  I am willing to work to aim for a better world with technology and human power.
                  <br /><br />
                  Cloud · · · cloud · · · clouds, throwable things, cloud computing, IaaS · PaaS · SaaS
                  Source · · · original, source, information source, source, source code,
                  <br /><br />
                  representative director procuring Kazuhiro Miyajima

                  </p>
            </div>
          </div>
          <div class="col-12 col-md-1">
          </div>
          <div class="col-12 col-md-3 wow fadeInUp">
            <%=image_tag("about-img/about1.gif", alt: "", width: "200px", height: "300px")%>
          </div>
        </div>
    </div>
</section>

<section class="section_padding_50" style = "background: -webkit-linear-gradient(50deg, #faf6f9, #faf6f9">
    <div class="container mt-80">
        <div class="row">
          <div class="col-12 col-md-3 wow fadeInUp">
            <%=image_tag("about-img/about2.gif", alt: "")%>
          </div>
          <div class="col-12 col-md-1">
          </div>
          <div class="col-12 col-md-8">
            <div class="special_description_content wow slideInRight">
              <h3>Cloudsource, Inc.</h3>
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Capital</td>
                    <td>10 million yen</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Banking Relationship</td>
                    <td>Mizuho Bank <br />Mitsubishi Tokyo UFJ Bank</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>CEO</td>
                    <td>Kazuhiro Miyajima</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Established</td>
                    <td>March 15, 2011</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Registration</td>
                    <td>ISO 9001 <br/> ISO 14001 <br/> ISO/TS 16949:2009 <br/> Travel Industry Tourism Minister Registration 1519 <br/> Official member of Japan Association of Travel Agent (JATA) and Bond Warranty</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</section>
<section class="section_padding_50" style = "background: -webkit-linear-gradient(50deg, #faf6f9, #faf6f9">
    <div class="container mt-80">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="special_description_content wow slideInLeft">
              <h3>History</h3>
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>1992</td>
                    <td>	Tourism / Trabe business division in Dogenszaka Shibuya-ku, Tokyo. </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>1996</td>
                    <td>Import and sales of magnesium <br/> Invest to the local company in China</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>1997</td>
                    <td>All Seasons FSI Ventures Inc. Vancouver Office in Canada</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>2002</td>
                    <td>Automobile parts productin factoy Tianjin,China-based affiliate : Tianjin NBK Inc</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>2005</td>
                    <td>Steel grating production factory Tianjin,China-based affiliate :Heartful Tianjin</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>2006</td>
                    <td>Establish Xi'an ,China branch Office</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>2007</td>
                    <td>Musical performance arrangemant business</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>2008</td>
                    <td>Establish All Pacific Global Inc.(Los Angels Office in USA)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-4 wow fadeInUp">
            <%=image_tag("about-img/about3.gif", alt: "", width: "300px", height: "500px")%>
          </div>

        </div>
    </div>
</section>
<section class="bg-white section_padding_50" id="aboutcompany">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <!-- Heading Text  -->
            <div class="section-heading">
                <h2>Branch Offices</h2>
                <div class="line-shape"></div>
            </div>
        </div>
        <!-- branch one start -->
        <div class="col-12 col-md-4 servicetwo branch" id="">
          <%=image_tag("about-img/myanmar.png", alt: "", width: "", height: "300")%>
          <div class="servicesname">
          Myanmar
          </div>
          <div class="hover-text">
          No.5, 5th Floor, Pann Hlaing Street, Kannar Road, Kyimyindaing Tsp, Yangon.
          </div>
        </div>
        <!-- branch one finish -->
        <!-- branch two start -->
        <div class="col-12 col-md-4 servicetwo branch" id="">
          <%=image_tag("about-img/japan.png", alt: "", width: "971", height: "660")%>
          <div class="servicesname">
          Tokyo
          </div>
          <div class="hover-text">
            〒106-0047 東京都港区南麻布1-5-8 南麻布スキップフラット401
          </div>
        </div>
        <!-- branch two finish -->
        <!-- branch three start -->
        <div class="col-12 col-md-4 servicetwo branch" id="">
          <%=image_tag("about-img/vietnam.png", alt: "", width: "971", height: "660")%>
          <div class="servicesname">
          Vietnam
          </div>
          <div class="hover-text">
          Vietnam address
          </div>
        </div>
        <!-- branch three finish -->
      </div>
    </div>
</section>
