  <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100 mt-50">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                      <!--<div id="text"></div>-->


                      <!--  <h3>Clsm</h3>   -->
                      <!--  <p>Get started with our team</p> -->
                    </div>
                    <div class="get-start-area">
                        <!-- Form Start -->
                        <form action="#" method="post" class="form-inline">
                            <!--<input type="email" class="form-control email" placeholder="name@company.com">
                            <input type="submit" class="submit" value="Get Started">-->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area gradient-bck section_padding_50" id="services">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center wow fadeIn">
                        <h2>မဂၤလာပါ
                        <br/> Mingalarbar </h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-12 col-md 6">
                <div class="single-special wow fadeInUp" data-wow-delay="0.2s">
                  <%=image_tag("bg-img/design1.png", alt: "", width: "650", height: "300")%>
                </div>
              </div>
              <div class="col-12 col-md 6">
                <div class="single-special wow fadeInUp" data-wow-delay="0.2s">
                  <%=image_tag("bg-img/design2.png", alt: "", width: "650", height: "300")%>
                </div>
              </div>
            </div>
        </div>
        <!-- ***** Business Contents Area Start ***** -->
        <!-- Cloudsourcing business start -->
        <div class="special_description_area mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Heading Text -->
                        <div class="section-heading text-center">
                            <h2>Business Contents</h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                </div>
                <div class="row wow bounceInLeft">
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>Cloudsourcing business</h3>
                            <p>The best feature of the "project" is its expiration date.
                              It is labor-intensive to procure and arrange excellent people every time to the end project.
                              "20 people have interviewed this month ... When will the worker who worked with us previously be free?" I want to work with them again "
                              Meanwhile, for the members to participate, the effort in search of work It will take.
                              "The current project ends next month, but the project for the coming month has not been decided."
                              We plan to develop a crowdsourcing platform that can solve both procurement side and side side issues. In addition, we are expanding our offshore bases and partners in an effort to be able to collaborate with overseas people without distinction in the coming global talent market. «Offering first half of 2013»</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_01.jpg", alt: "")%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cloudsourcing business end -->

        <!-- System contract development business start -->
        <div class="special_description_area mt-80">
            <div class="container">
                <div class="row wow bounceInRight">
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_02.jpg", alt: "")%>

                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>System contract development business</h3>
                            <p>We are carrying out system development centering on Web and mobile. We constantly use state-of-the-art development technologies and services such as reviews with Scrum, Cloud (mainly AWS), Ruby on Rails, github. In addition, we utilize various services to implement remote development.
                              Language is Ruby-centric, but development with JavaScript, Objective-C, Java, PHP, C # is possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- System contract development business end -->

        <!-- Offshore development start -->
        <div class="special_description_area mt-80">
            <div class="container">
                <div class="row wow bounceInLeft">
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>Offshore development</h3>
                            <p>We are developing development using overseas resources in Myanmar, Vietnam, China.
                              The Myanmar branch office is planned to be established in October 2013,
                              and 11 employees of Myanmar are training for establishment. (As of March 2013) </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_03.jpg", alt: "")%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offshore development end -->

        <!-- Cloud technology support project start -->
        <div class="special_description_area mt-80">
            <div class="container">
                <div class="row wow bounceInRight">
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_04.jpg", alt: "")%>

                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>Cloud technology support project</h3>
                            <p>We mainly provide consulting on utilization of Amazon Web Service (AWS).
                              For example, we can realize operation with high cost / performance, such as how to operate a site which temporarily high load such as campaign site can be operated at low price.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cloud technology support project end -->

        <!-- Social marketing support project start -->
        <div class="special_description_area mt-80">
            <div class="container">
                <div class="row wow bounceInLeft">
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>Social marketing support project</h3>
                            <p>Like on Facebook page! We are implementing operational support to increase the number of users.
                              We provide point programs and data analysis tools linked with FB page posting, including providing embedded applications to FB pages such as ○ ○ diagnosis and fortunetelling .</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_05.jpg", alt: "")%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social marketing support project end -->

        <!-- Social game business start -->
        <div class="special_description_area mt-80">
            <div class="container">
                <div class="row wow bounceInRight">
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_06.jpg", alt: "")%>

                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>Social game business</h3>
                            <p>Currently the mainstream card game in the social game industry.
                              We are offering game engines that can be released in a short term with proven track record with multiple titles.
                              We have track record of traffic far exceeding 1 million PV / day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social game business end -->

        <!-- BaaS (Backend as a Service) business start -->
        <div class="special_description_area mt-80">
            <div class="container">
                <div class="row wow bounceInLeft">
                    <div class="col-12 col-md-7">
                        <div class="special_description_content">
                            <h3>BaaS (Backend as a Service) business</h3>
                            <p>As a design style in recent
                              years, there are many patterns such as controlling the view on the client side and returning JSON on the server side .
                              With such a design, the server side functions are routine processing such as authentication, data storage and reading.
                              In mobile, in particular, push notifications, geolocation interlocking, social collaboration etc are often mentioned as important and necessary functions, but it is hard to develop each time.
                              It is BaaS that prepares and provides such routine processing in advance, and realizes its platform.
                              «Scheduled to be available in the first half of 2013» </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="special_description_img">
                        <%=image_tag("services-img/bis_07.jpg", alt: "")%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BaaS (Backend as a Service) business end -->
    </section>
    <!-- ***** Business Contents Area End ***** -->

    <!-- ***** Partners Area Start ***** -->
    <section class="app-screenshots-area bg-white section_padding_50 clearfix" id="products">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Partners</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Partners Slides  -->
                    <div class="app_screenshots_slides owl-carousel">
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-1.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-2.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-3.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-4.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-5.svg", alt: "")%>
                        </div>
						            <div class="single-shot">
                            <%=image_tag("partners-img/partner-6.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-6.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-7.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-8.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-9.svg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("partners-img/partner-10.svg", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Partners Area End *****====== -->

    <!-- ***** Subscribe Area Start ***** -->
    <section class="cool_facts_area clearfix">
        <div class="container">
            <div class="row">
              <!-- Subscribe Form Start -->
              <div class="get-start-area">
                <%= render 'subscribers/index' %>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Subscribe Area End ***** -->
