<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">
                        <!--<input type="email" class="form-control email" placeholder="name@company.com">
                        <input type="submit" class="submit" value="Get Started">-->
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-Services-area bg-white section_padding_50 clearfix" id="team">
    <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <!-- Heading Text  -->
              <div class="section-heading">
                  <h2>We deliver you high quality service that you will surely love!</h2>
                  <div class="line-shape"></div>
              </div>
          </div>
      </div>
      <div class="row">
        <!-- services one start -->
        <div class="col-12 col-md-7 servicetwo" id="purplegrad">
          <%=image_tag("services-img/services1.png", alt: "", class: "workimg servicesetui" )%>
          <div class="servicesname">
          User Interface
          </div>
          <div class="hover-text">
          Our team voted ‘Best Designers<br>in the Solar System™’
          </div>
        </div>
        <!-- services one finish -->

        <!-- services two start -->
        <div class="col-12 col-md-5 serviceone" id="blue">
          <%=image_tag("services-img/services2.png", alt: "", class: "workimg servicesetux" )%>
          <div class="servicesname">
          User Experience
          </div>
          <div class="hover-text">
          Using research and customer insights to create innovative mobile experiences and simplify usability.
          </div>
        </div>
        <!-- services two finish -->

        <!-- services three start -->
        <div class="col-12 col-md-4 serviceone" id="lightgrey">
          <%=image_tag("services-img/services3.png", alt: "", class: "workimg servicesetandroidios" )%>
          <div class="servicesname">
            iOS Development
          </div>
          <div class="hover-text">
            Native iOS Development from <br>M-Commerce to Rewards to<br> On-Demand.<br> You name it, <br>they can do it.
          </div>
        </div>
        <!-- services three finish -->

        <!-- services four start -->
        <div class="col-12 col-md-4 serviceone" id="limegreen">
          <%=image_tag("services-img/services4.png", alt: "", class: "workimg servicesetandroidios" )%>
          <div class="servicesname">
            Android Development
          </div>
          <div class="hover-text">
            Native Android Developers who create smart tech to make mobile experiences simple and beautiful.
          </div>
        </div>
        <!-- services four finish -->

        <!-- services five start -->
        <div class="col-12 col-md-4 servicefour" id="lightred">
          <%=image_tag("services-img/services5.png", alt: "", class: "workimg servicesetwebsite" )%>
          <div class="servicesname">
            Website
          </div>
          <div class="hover-text">
            Responsive web developers to ensure that your web enhances and partners your mobile.
          </div>
        </div>
        <!-- services five finish -->


        <div class="subisotopecontainer">
        <div class="masonryde" style="position: relative; height: 1640px;">

        <div class="servicetwo" id="purplegrad" style="position: absolute; left: 0px; top: 0px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services1.png", alt: "", class: "workimg servicesetui" )%>
        <div class="servicesname">
        User Interface
        </div>
        <div class="hover-text">
        Our team voted ‘Best Designers<br>in the Solar System™’
        </div>
        </div>
        </div>
        </div>

        <div class="serviceone" id="blue" style="position: absolute; left: 800px; top: 0px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services2.png", alt: "", class: "workimg servicesetux" )%>
        <div class="servicesname">
        User Experience
        </div>
        <div class="hover-text align-left">
        Using research and customer insights to create innovative mobile experiences and simplify usability.
        </div>
        </div>
        </div>
        </div>

        <div class="serviceone" id="lightgrey" style="position: absolute; left: 0px; top: 410px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services3.png", alt: "", class: "workimg servicesetandroidios" )%>
        <div class="servicesname">
        iOS Development
        </div>
        <div class="hover-text align-left">
        Native iOS Development from <br>M-Commerce to Rewards to<br> On-Demand.<br> You name it, <br>they can do it.
        </div>
        </div>
        </div>
        </div>

        <div class="serviceone" id="limegreen" style="position: absolute; left: 400px; top: 410px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services4.png", alt: "", class: "workimg servicesetandroidios" )%>
        <div class="servicesname">
        Android Development
        </div>
        <div class="hover-text align-left">
        Native Android Developers who create smart tech to make mobile experiences simple and beautiful.
        </div>
        </div>
        </div>
        </div>

        <div class="servicefour" id="lightred" style="position: absolute; left: 800px; top: 410px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services5.png", alt: "", class: "workimg servicesetwebsite" )%>
        <!--<img class="workimg servicesetwebsite" src="/assets/_service/website@2x-8db22521dfc9d50ea40b5eda03c3c80a27d149c99f2f2c9c670a45904421654a.png" alt="Website@2x">-->
        <!--<img class="workimg servicesetwebsite2" src="/assets/_service/websiteshort@2x-dd7ab3a79dcbb105e5d87875ba573e74586bb0ac70d85da7f557f798117e798b.png" alt="Websiteshort@2x">-->
        <div class="servicesname">
        Website
        </div>
        <div class="hover-text align-left">
        Responsive web developers to ensure that your web enhances and partners your mobile.
        </div>
        </div>
        </div>
        </div>

        <div class="servicefour" id="lightpeach" style="position: absolute; left: 0px; top: 820px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services6.png", alt: "", class: "workimg servicesetdigitalmarketing" )%>
        <div class="servicesname">
        Digital Marketing
        </div>
        <div class="hover-text align-left">
        Activation and advertising ideas to drive download and app education.
        </div>
        </div>
        </div>
        </div>

        <div class="serviceone" id="grey" style="position: absolute; left: 400px; top: 820px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services7.png", alt: "", class: "workimg servicesetbackup" )%>
        <div class="servicesname">
        Backend Development
        </div>
        <div class="hover-text align-left">
        For the love of Content Management Systems, dashboards and algorithms.
        </div>
        </div>
        </div>
        </div>

        <div class="servicetwo" id="lightblue" style="position: absolute; left: 400px; top: 1230px;">
        <div class="projectcontainer">
        <div class="projectholder">
        <%=image_tag("services-img/services8.png", width: "50%", height: "30%", alt: "", class: "workimg servicesetdigitalexperience" )%>
        <div class="servicesname">
        Digital Experience
        </div>
        <div class="hover-text align-left">
        Augmented Reality, Oculus, iBeacon, <br class="hide-on-mobile hide-on-tablet"> Projection and a host of other mobile tech to make experiences come alive.
        </div>
        </div>
        </div>
        </div>

        </div>
        </div>
      </div>
    </div>
</section>

<div class="breakpoint">
<div class="contentbreaker">

<div class="contenttitle poop">
We
<span id="fred">in-source.</span>
<span id="smallertext">Our incredible and awarded team all work next to each other to create magic.</span>
</div>
</div>

<div class="subisotopecontainer">
<div class="masonryde" style="position: relative; height: 1640px;">

<div class="servicetwo" id="purplegrad" style="position: absolute; left: 0px; top: 0px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services1.png", alt: "", class: "workimg servicesetui" )%>
<div class="servicesname">
User Interface
</div>
<div class="hover-text">
Our team voted ‘Best Designers<br>in the Solar System™’
</div>
</div>
</div>
</div>

<div class="serviceone" id="blue" style="position: absolute; left: 800px; top: 0px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services2.png", alt: "", class: "workimg servicesetux" )%>
<div class="servicesname">
User Experience
</div>
<div class="hover-text align-left">
Using research and customer insights to create innovative mobile experiences and simplify usability.
</div>
</div>
</div>
</div>

<div class="serviceone" id="lightgrey" style="position: absolute; left: 0px; top: 410px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services3.png", alt: "", class: "workimg servicesetandroidios" )%>
<div class="servicesname">
iOS Development
</div>
<div class="hover-text align-left">
Native iOS Development from <br>M-Commerce to Rewards to<br> On-Demand.<br> You name it, <br>they can do it.
</div>
</div>
</div>
</div>

<div class="serviceone" id="limegreen" style="position: absolute; left: 400px; top: 410px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services4.png", alt: "", class: "workimg servicesetandroidios" )%>
<div class="servicesname">
Android Development
</div>
<div class="hover-text align-left">
Native Android Developers who create smart tech to make mobile experiences simple and beautiful.
</div>
</div>
</div>
</div>

<div class="servicefour" id="lightred" style="position: absolute; left: 800px; top: 410px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services5.png", alt: "", class: "workimg servicesetwebsite" )%>
<!--<img class="workimg servicesetwebsite" src="/assets/_service/website@2x-8db22521dfc9d50ea40b5eda03c3c80a27d149c99f2f2c9c670a45904421654a.png" alt="Website@2x">-->
<!--<img class="workimg servicesetwebsite2" src="/assets/_service/websiteshort@2x-dd7ab3a79dcbb105e5d87875ba573e74586bb0ac70d85da7f557f798117e798b.png" alt="Websiteshort@2x">-->
<div class="servicesname">
Website
</div>
<div class="hover-text align-left">
Responsive web developers to ensure that your web enhances and partners your mobile.
</div>
</div>
</div>
</div>

<div class="servicefour" id="lightpeach" style="position: absolute; left: 0px; top: 820px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services6.png", alt: "", class: "workimg servicesetdigitalmarketing" )%>
<div class="servicesname">
Digital Marketing
</div>
<div class="hover-text align-left">
Activation and advertising ideas to drive download and app education.
</div>
</div>
</div>
</div>

<div class="serviceone" id="grey" style="position: absolute; left: 400px; top: 820px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services7.png", alt: "", class: "workimg servicesetbackup" )%>
<div class="servicesname">
Backend Development
</div>
<div class="hover-text align-left">
For the love of Content Management Systems, dashboards and algorithms.
</div>
</div>
</div>
</div>

<div class="servicetwo" id="lightblue" style="position: absolute; left: 400px; top: 1230px;">
<div class="projectcontainer">
<div class="projectholder">
<%=image_tag("services-img/services8.png", width: "50%", height: "30%", alt: "", class: "workimg servicesetdigitalexperience" )%>
<div class="servicesname">
Digital Experience
</div>
<div class="hover-text align-left">
Augmented Reality, Oculus, iBeacon, <br class="hide-on-mobile hide-on-tablet"> Projection and a host of other mobile tech to make experiences come alive.
</div>
</div>
</div>
</div>

</div>
</div>
</div>
