<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title -->
    <title>Cloudsource Myanmar</title>

    <!-- Favicon -->
    <%= favicon_link_tag 'core-img/favicon.ico' %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
<!--    View Count Code <script language="javascript">DisplayVisits();</script> for body
    <script language="javascript">

      function DisplayVisits()
     {
      // How many visits so far?
          var numVisits = GetCookie("numVisits");
          if (numVisits) numVisits = parseInt(numVisits) + 1;
          else numVisits = 1; // the value for the new cookie

      // Show the number of visits
          if (numVisits==1) document.write("This is your first visit.");
          else document.write("You have visited this page " + numVisits + " times.");

      // Set the cookie to expire 365 days from now
          var today = new Date();
          today.setTime(today.getTime() + 365 /*days*/ * 24 /*hours*/ * 60 /*minutes*/ * 60 /*seconds*/ * 1000 /*milliseconds*/);
          SetCookie("numVisits", numVisits, today);
      }
    </script>

  -->
  </head>

  <body>
    <!-- Menu Partials -->
    <%= render 'layouts/navigation' %>

     <%= yield %>

    <!-- Footer Partials -->
    <%= render 'layouts/footer' %>

    <!-- Javascripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
